# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#THE PORT ON WHICH THE APPLICATION WILL LISTEN TO REQUESTS
HOST_PORT=3000

#INSERT DATABASE URL
DATABASE_URL=

#Secret for generating the access token
ACCESS_TOKEN_SECRET=
#TIMESPAN IN VERCEL/MS ex: '1d'
ACCESS_TOKEN_EXPIRATION=
#Secret for generating the refresh token
REFRESH_TOKEN_SECRET=
#TIMESPAN IN VERCEL/MS ex: '30d'
REFRESH_TOKEN_EXPIRATION=
#Max number of simultaneous valid refresh tokens for a user
REFRESH_TOKEN_MAX_COUNT=5

#Secret for generating the email verification token
VERIFY_EMAIL_TOKEN_SECRET=
#TIMESPAN IN VERCEL/MS ex: '30d'
VERIFY_EMAIL_TOKEN_EXPIRATION=

#Secret for generating the password change token
CHANGE_PASSWORD_TOKEN_SECRET=
#TIMESPAN IN VERCEL/MS ex: '30d'
CHANGE_PASSWORD_TOKEN_EXPIRATION=

#Secret for generating the email change token
CHANGE_EMAIL_TOKEN_SECRET=
#TIMESPAN IN VERCEL/MS ex: '30d'
CHANGE_EMAIL_TOKEN_EXPIRATION=

#EMAIL SETTINGS
EMAIL_HOST=
EMAIL_PORT=465
EMAIL_USER=
EMAIL_PASSWORD=

#Client host url, used to build the links sent through emails
CLIENT_HOST_URL=